<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="top-bar">
        <form method="get" action="{{ request.path }}">
            <input type="hidden" name="page" value="{{ page }}">
            <label>
              <input type="checkbox" name="translated" value="true"
                     {% if translated %} checked {% endif %}
                     onchange="this.form.submit()">
              Show Translated
            </label>
        </form>
    </div>


    <table>
        <tr>
            <th>Post ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>User</th>
        </tr>
        {% for row in data %}
        <tr>
            <td><a href="{{ url_for('post', post_id=row[0]) }}">{{ row[0] }}</a></td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td><a href="{{ url_for('user_posts', user=row[3]) }}">{{ row[3] }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <div style="text-align:center; margin-top: 20px;">
        {% if page > 1 %}
            <a href="{{ request.path }}?page={{ page - 1 }}{% if translated %}&translated=true{% endif %}">« Prev</a>
        {% endif %}
    
        {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
                <strong>[{{ p }}]</strong>
            {% else %}
                <a href="{{ request.path }}?page={{ p }}{% if translated %}&translated=true{% endif %}">{{ p }}</a>
            {% endif %}
        {% endfor %}
    
        {% if page < total_pages %}
            <a href="{{ request.path }}?page={{ page + 1 }}{% if translated %}&translated=true{% endif %}">Next »</a>
        {% endif %}
    </div>
</body>
</html>