<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="top-bar">
        <form method="get" action="{{ url_for('post', post_id=post_id) }}">
            <label>
                <input type="checkbox" name="translated" value="true"
                        {% if translated %} checked {% endif %}
                    onchange="this.form.submit()">
                Show Translated
            </label>
        </form>
    </div>


    <div class="text">
        <div class="post-header">
            <h1 class="post-title">{{ data["Title"] }}</h1>
            <div class="post-meta">
                <span class="post-date">{{ data["Date"] }}</span>
                <span class="post-user">{{ data["NaverID"] }}</span>
            </div>
        </div>
        <div class="post-content">
            <p>{{ data["Content"] }}</p>
        </div>
        <div class="post-images">
            {% for image_url in data["Images"] %}
                {% if image_url.endswith(".mp4") %}
                    <video controls>
                        <source src="{{ url_for('static', filename=image_url.replace("D:/Geometry Dash/GW_Archive/", "")) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <img src="{{ url_for('static', filename=image_url.replace("D:/Geometry Dash/GW_Archive/", "")) }}" alt="Post Image">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="comments-section">
        <div class="comments-container">
        <h2>Comments</h2>
            {% for comment in data["Comments"] %}
                <div class="comment-box">
                    <div class="comment-header">
                        <span class="comment-user">{{ comment["NaverID"] }}</span>
                        <span class="comment-date">{{ comment["Date"] }}</span>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment["Content"] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>